<form action="/records/{{ record._id }}?_method=PUT" method="POST">


  {{!-- 標題 --}}
  <div class="form-group row">
    <label for="inputnamel3" class="col-sm-2 col-form-label">必填欄位<samll class="form-text text-danger">(必填*)
    </label>

    <div class="col-sm-5">
      <h1>請輸入你的支出</h1>
    </div>
  </div>

  {{!-- 名稱 --}}
  <div class="form-group row">
    <label for="inputnamel3" class="col-sm-2 col-form-label">名稱<samll class="form-text text-danger">(必填*) </label>

    <div class="col-sm-5">
      <input type="text" class="form-control" id="inputName" placeholder="name" name="name" value="{{record.name}}">
    </div>
  </div>

  {{!-- 日期 --}}
  <div class="form-group row">
    <label for="date" class="col-sm-2 col-form-label">
      日期<small class="form-text text-danger">(必填*)</small>
    </label>

    <div class="col-sm-5">
      <input type="date" class="form-control" placeholder="date" aria-label="date" aria-describedby="basic-addon2"
        name="date" value="{{record.date}}">
    </div>
  </div>


  {{!-- category --}}
  <div class="form-group row">
    <label class="category text-secondary col-sm-2" for="inlineFormCustomSelectPref">類別<small
        class="form-text text-danger">(必填*)</small></label>

    <div class="col-sm-5">
      <select class="custom-select" name="category" value="{{record.category}}" required>
        {{!-- <option value="all" href="/">類別</option> --}}
        <option value="家居物業" {{#selectedOption record.category "家居物業"}} {{/selectedOption}}>家居物業</option>
        <option value="交通出行" {{#selectedOption record.category "交通出行"}} {{/selectedOption}}>交通出行</option>
        <option value="休閒娛樂" {{#selectedOption record.category "休閒娛樂"}} {{/selectedOption}}>休閒娛樂</option>
        <option value="餐飲食品" {{#selectedOption record.category "餐飲食品"}} {{/selectedOption}}>餐飲食品</option>
        <option value="其他" {{#selectedOption record.category "其他"}} {{/selectedOption}}>其他</option>
      </select>
    </div>

  </div>

  {{!-- 名稱 --}}
  <div class="form-group row">

    <label for="name" class="col-sm-2 col-form-label">
      名稱<small class="form-text text-danger">(必填*)</small>
    </label>

    <div class="col-sm-5">
      <input type="name" class="form-control" id="inputName" placeholder="請輸入阿拉伯數字" name="amount"
        value="{{record.amount}}">
    </div>

  </div>



  {{!-- 新增支出 --}}
  <div class="form-group row">
    <button class="btn btn-success" type="submit">送出資料</button>
  </div>



</form>