{{!-- //目前帳目 --}}

<div class="d-flex justify-content-around mt-3">
  <h4 class="font-weight-bold">Total:</h4>
  <h1 class="text-success">{{totalAmount}} TWD</h1>


  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-filter"></i>
  </a>

  <form action="/month" method="POST">
    <div class="form-group">
      <select class="form-control" name="month" id="exampleFormControlSelect1" onchange="submit()" placeholder="month">

        {{#if selectMonth}}<option>{{selectMonth}}</option>{{/if}}
        <option value="">全部月份</option>
        {{#each monthList}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>
  </form>




  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/living">家居物業</a>
    <a class="dropdown-item" href="/transp">交通出行</a>
    <a class="dropdown-item" href="/fun">休閒娛樂</a>
    <a class="dropdown-item" href="/food">餐飲食品</a>
    <a class="dropdown-item" href="/other">其他</a>
    <a class="dropdown-item" href="/all">返回全部</a>
  </div>



</div>

</div>
<hr>



{{!-- 帳目表 --}}

<table class="table table-striped">
  <tbody align="center">

    {{#each records}}

    <tr>
      <td><i class="
                    {{#Emoji this.category '家居物業'}} fas fa-home {{/Emoji}}
                    {{#Emoji this.category '交通出行'}} fas fa-shuttle-van {{/Emoji}}
                    {{#Emoji this.category '休閒娛樂'}} fas fa-grin-beam {{/Emoji}}
                    {{#Emoji this.category '餐飲食品'}} fas fa-utensils {{/Emoji}}
                    {{#Emoji this.category '其他'}} fas fa-pen {{/Emoji}}
                    "> {{this.name}}</i></td>
      <td>{{this.merchant}}</td>
      <td>{{this.date}}</td>
      <td align="end">{{this.amount}}</td>
      <td>

        {{!-- 編輯頁面  --}}
        {{!-- 此id非使用者id --}}
        <a class="btn" href="/records/{{this._id}}/edit">
          <i class="fas fa-edit"></i>
        </a>



        <!-- Button trigger modal -->
        <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal{{this._id}}">
          <i class="fas fa-trash" style="display: inline;"></i></button>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal{{this._id}}" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">提醒</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                是否確定刪除『{{this.date}}，{{this.name}}』的資料
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>



                {{!-- 刪除選項 --}}
                <form action="/records/{{this._id}}/?_method=DELETE" method="POST" style="display: inline;">
                  <button type="submit" class="btn btn-primary">確定</button>


                </form>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>

    {{/each}}
  </tbody>



</table>

{{!-- 新增按鈕 --}}

<a href="/records/create">

  <button type="submit" class="btn btn-success btn-lg btn-block mt-2 mb-3">Add<i class="fas fa-plus ml-1"></i></button>
</a>
</div>